version: '3.4'

services:

  api:
    container_name: springmongodb
    image: ${DOCKER_REGISTRY-}springmongodb
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
      - keycloak
    links:
      - mongo
      - keycloak
    networks:
      - lan-network
    ports:
      - 8081:8081

  mongo:
    container_name: bookstoredb
    image: mongo
    restart: always
    volumes:
      - mongodata:/data/db
    networks:
      - lan-network        
    ports:
      - 27017:27017

  keycloak:
      image: quay.io/keycloak/keycloak:latest
      container_name: keycloak
      ports:
        - 8080:8080
      restart: always
      command:
        - start-dev
      networks:
        - lan-network        
      volumes:
        - keycloakdata:/opt/keycloak/data/h2

volumes:
  mongodata:
  keycloakdata:
    external: true
    name: keycloakdata

networks:
  lan-network:
    driver: bridge